.pixelify-sans-font {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* --------------------All-------------------------- */
* {
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

html, body {
    margin: 0;
    /* height: 100%; */
}
/* --------------------All-------------------------- */





/* --------------------GAMEPAGE-------------------------- */

#gamepage {
    height: 100%;
    width: 100%;
    background-color: white;
    border: 5px solid black;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
}



.grid {

    width: 1425px;
    height: 1025px;
    box-shadow: 2px 2px 50px black ;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-wrap: wrap;
    
}
    

.cell {
    border: 1px solid black;
    
    row-gap: 0;
}

.enemy {
    background-color: green;
}

.player {
    background-color: red;
}

/* --------------------GAMEPAGE-------------------------- */











/* --------------------HOMEPAGE-------------------------- */





.buttonsContainer {                       /* container buttons are in*/
    position: relative;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: auto;

}


button {
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}





#homepage h1 {
    position: relative;
    font-size: 100px;
    top: 300px;
    text-align: center;
    
}



/* --------------------HOMEPAGE-------------------------- */





/* --------------------SETTINGS-------------------------- */


/* ----Big Container------*/
#settingsPage {
    height: 300px;
    width: 600px;
    background-color: rgb(0, 0, 0);
    color: white;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    border-radius: 20px;
    z-index: 2;
    
}
/* ----- */
#buttonBox {
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: 15%;
    margin: 10px;
}

.exitSettings {
    height: auto;
    width: auto;

}


.homeButton {
    height: auto;
    width: auto;
}

#settingsContent{
    height: 14rem;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.colorBox {
    height: 25px;
    width: 25px;
    background-color: white;
}
/* ----- */


#settingsPage h2 {
    color: white;
    position: absolute;
    left: 50%;
    top:10%;
    transform: translate(-50%, -50%);
}



.popoff {
    visibility: hidden;
}

.popup {
    visibility: visible ;
 
}


/* --------------------SETTINGS-------------------------- */